/* Responsive for small devices */

@media screen and (max-width: 576px) {
  /* nav bar style start here*/
  .nav-for-large-devices {
    display: none;
  }

  .nav-for-small-devices {
    display: contents;
  }
  .header {
    width: 90%;
  }
  /* nav bar styles ends here */

  /* hero section styles start here */
  .hero-banner {
    flex-direction: column;
    gap: 40px;
    align-items: start;
    width: 90%;
    margin: 0 auto;
  }

  .banner-content {
    width: 100%;
  }

  .banner-content h1 {
    font-size: 2.2rem;
    width: 74%;
    font-weight: 900;
  }

  .banner-content p {
    width: 73%;
    font-weight: 300;
  }
  .video-tutorial-box {
    width: 30%;
    margin: -80% 8%;
  }
  .video-tutorial-box2 {
    margin: -122% 60%;
    width: 30%;
  }

  .banner-img img {
    width: 100%;
  }

  .club {
    display: none;
  }
  /* hero section styles ends here */

  /*Change Your Habits */
  .change-your-habit-section {
    margin-top: 10px;
  }
  .change-your-habit-img {
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 auto;
  }

  .change-your-habit-content {
    width: auto;
  }

  .extra-mile-section {
    width: 90%;
  }

  .extra-mile-div {
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
  }

  .extra-mile-div h1 {
    width: 100%;
  }

  .extra-mile-div p {
    width: 100%;
  }

  .extra-mile-div button {
    width: 90%;
  }

  .extra-mile-div img {
    margin-top: 40px;
    width: 100%;
  }

  .bmi-content {
    width: 90%;
  }

  .bmi-table-content {
    width: 90%;
  }

  .bmi-calculator {
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 80px;
  }

  .bmi-calculator-content {
    width: 90%;
  }

  .bmi-calculator-input input,
  select,
  option {
    width: 80%;
  }

  #gender-id {
    width: 92%;
  }

  #activity-id {
    width: 192%;
  }

  .bmi-calculator-input button {
    width: 60%;
    margin-top: 25px;
  }

  /* Bmi section ends here */

  /* our teams section start here */

  #trainer-1 {
    display: none;
  }
  #trainer-4 {
    display: none;
  }
  .our-teams {
    grid-template-columns: repeat(1, 1fr);
  }

  .team-content p {
    width: 80%;
  }
  /* our teams section ends here */

  /* Footer start here */
  .footer-content {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }

  footer hr {
    width: 90%;
  }

  /* Footer Ends here */
}

/* Responsive for medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
}
