@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/* font-family: "Inter", sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Meie+Script&display=swap");
/* font-family: "Meie Script", cursive; */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

/* Shared Styles */

/* Primary orange color */
.primary-color {
  color: #e6533c;
}

/* Inter Font */
.inter-font {
  font-family: "Inter", sans-serif;
}

/* Signature Font */
.signature-font {
  font-family: "Meie Script", cursive;
  font-weight: 400;
}

/* Navbar Style Start Here */

.header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0px auto 30px;
  padding-top: 30px;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  align-items: center;
  list-style: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 5px 12px;
}

.nav-links li {
  cursor: pointer;
  font-size: 1rem;
}

.header h1 {
  font-size: 2rem;
  font-weight: 800;
}

.active {
  background-color: #e6533c;
  padding: 8px 20px;
  border-radius: 30px;
  border: 8px;
}

.nav-for-small-devices {
  display: none;
}

/* Navbar Style Ends Here */

/* Hero Banner Style Start Here*/

.hero-section {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(255, 255, 255, 0.1)
  );
}

.hero-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.banner-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.banner-content h1 {
  font-size: 5rem;
}

.banner-content p {
  font-size: 1rem;
}

.join-club-btn {
  background-color: #e6533c;
  padding: 12px 40px;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.download-app-btn {
  background-color: transparent;
  border: 1px solid white;
  padding: 12px 40px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  color: white;
}

.hero-banner-btn {
  display: flex;
  gap: 25px;
}

.video-tutorial-box {
  display: flex;
  gap: 10px;
  align-items: center;
}

.video-tutorial-box {
  position: absolute;
  width: 130px;
  height: 70px;
  margin: -10% 60%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  cursor: pointer;
  padding: 8px 12px;
}

.video-tutorial-box button {
  color: white;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: #e6533c;
  border-radius: 50%;
}

.large-font {
  font-size: 1.5rem;
  font-weight: 900;
}

.video-tutorial {
  color: rgba(239, 237, 232, 0.65);
}

/* Change your habits sections style start here */

.change-your-habit-section,
.change-your-habit-container,
.change-your-habit-content {
  display: flex;
  flex-direction: column;
}

.change-your-habit-section {
  width: 80%;
  margin: 50px auto;
}

.change-your-habit-container {
  gap: 50px;
}
.change-your-habit-content {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  gap: 10px;
}

.change-your-habit-img img {
  border-radius: 50%;
}

.change-your-habit-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 20px;
  text-align: center;
}

.habits h4 {
  padding-top: 15px;
}
.habits p {
  padding: 5px 0;
}

/* Run an Extra Mile Section Start Here */

.extra-mile-section {
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-color: rgba(34, 34, 34, 1);
  border-radius: 15px;
}

.extra-mile-section img {
  width: 100%;
  border-radius: 10px;
  width: 366px;
  height: 312px;
}

.extra-mile-div {
  display: flex;
  align-items: center;
  padding: 20px 50px;
}

.extra-mile-contect {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.extra-mile-contect h1 {
  font-size: 2.8rem;
  font-family: "Inter", sans-serif;
  width: 60%;
}

.extra-mile-contect p {
  font-size: 1rem;
  opacity: 50%;
  width: 80%;
  line-height: 1.5rem;
}

.extra-mile-contect button {
  width: 200px;
  margin-top: 30px;
  margin-left: 10px;
  justify-content: center;
  color: white;
}

/* Run an Extra Mile Section Ends Here */

/* BMI Calculator Section Start Here */

.bmi-section {
  margin-top: 80px;
}

.bmi-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  align-items: start;
}

.bmi-content h1 {
  font-size: 2.8rem;
}

.bmi-content p {
  font-size: 1rem;
  opacity: 50%;
  margin-top: 15px;
}

.bmi-table-content {
  width: 40%;
}

.bmi-calculator-box {
  background-color: rgba(34, 34, 34, 1);
  margin-top: 80px;
}

.bmi-calculator {
  padding-top: 50px;
  display: flex;
  gap: 170px;
  width: 80%;
  margin: 0 auto;
}

.bmi-calculator table {
  margin-top: 50px;
}

.bmi-calculator table,
th,
td {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-collapse: collapse;
  padding: 15px;
  text-align: start;
}

.bmi-calculator-content p {
  font-weight: 1rem;
  opacity: 50%;
  padding-top: 14px;
  line-height: 1.5rem;
}

.bmi-calculator-input form {
  margin-top: 30px;
}

.bmi-calculator-input input,
select,
option {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 250px;
  height: 25px;
  padding: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  border: none;
  font-weight: 1rem;
  color: rgba(255, 255, 255, 0.6);
}

.calculator-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.bmi-calculator-input button {
  width: 40%;
  color: white;
  margin-top: 35px;
  margin-bottom: 50px;
}

#gender-id {
  width: 270px;
  height: 50px;
}

#activity-id {
  height: 50px;
  width: 192%;
}

/* BMI Calculator Section Ends Here */

/* Meet Our Team Section Start Here */

.meet-our-team-section {
  margin-top: 80px;
}

.team-content {
  text-align: center;
}

.team-content h1 {
  font-size: 2.8rem;
}

.team-content p {
  font-size: 1rem;
  opacity: 50%;
  width: 50%;
  margin: 0 auto;
  padding-top: 14px;
  line-height: 1.5rem;
}

.our-teams {
  width: 80%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}

.our-teams img {
  width: 100%;
}

.trainers-name p {
  font-size: 1rem;
}

.trainers-name h3 {
  font-size: 1.2rem;
}

.trainers-name {
  padding: 10px;
  margin-top: 200px;
}

.trainer {
  opacity: 50%;
}

#trainer-1 {
  height: 270px;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("../images/trainer1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

#trainer-2 {
  height: 270px;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("../images/trainer2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

#trainer-3 {
  height: 270px;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("../images/trainer3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

#trainer-4 {
  height: 270px;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("../images/trainer4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

#trainer-5 {
  height: 270px;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("../images/trainer5.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

#trainer-6 {
  height: 270px;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("../images/trainer6.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

/* Meet Our Team Section Ends Here */

/* Footer section Start Here */

footer {
  padding-top: 60px;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-content {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 100px;
  width: 80%;
  margin: 0 auto;
}

footer hr {
  width: 60%;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 35px;
  opacity: 10%;
}

footer h1 {
  font-size: 3.5rem;
  font-weight: 800;
  margin-bottom: 20px;
}

footer p {
  opacity: 50%;
  font-size: 1rem;
  line-height: 25px;
}

.footers-anchor a {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.all-rights {
  text-align: center;
  padding-bottom: 15px;
}

.footers-anchor a {
  color: white;
  opacity: 50%;
  text-decoration: none;
  font-size: 1rem;
}

/* Footer section Ends Here */
