@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/* font-family: "Inter", sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Meie+Script&display=swap");
/* font-family: "Meie Script", cursive; */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

/* Shared Styles */

/* Primary orange color */
.primary-color {
  color: #e6533c;
}

/* Inter Font */
.inter-font {
  font-family: "Inter", sans-serif;
}

/* Signature Font */
.signature-font {
  font-family: "Meie Script", cursive;
  font-weight: 400;
}

/* Navbar Style Start Here */

.header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 30px auto;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  align-items: center;
  list-style: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 5px 12px;
}

.nav-links li {
  cursor: pointer;
  font-size: 1rem;
}

.header h1 {
  font-size: 2rem;
  font-weight: 800;
}

.active {
  background-color: #e6533c;
  padding: 8px 20px;
  border-radius: 30px;
  border: 8px;
}

.nav-for-small-devices {
  display: none;
}

/* Navbar Style Ends Here */

/* Hero Banner Style Start Here*/
.hero-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.banner-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.banner-content h1 {
  font-size: 5rem;
}

.banner-content p {
  font-size: 1rem;
}

.join-club-btn {
  background-color: #e6533c;
  padding: 12px 40px;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.download-app-btn {
  background-color: transparent;
  border: 1px solid white;
  padding: 12px 40px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.hero-banner-btn {
  display: flex;
  gap: 25px;
}

.video-tutorial-box button {
  position: absolute;
  /* padding: 20px; */
  width: 120px;
  height: 100px;
  border: 1px solid red;
  background-color: white;
  opacity: 0.5;
  color: black;
  margin: -150px 850px;
  cursor: pointer;
}

/* Change your habits sections style start here */

.change-your-habit-section,
.change-your-habit-container,
.change-your-habit-content {
  display: flex;
  flex-direction: column;
}

.change-your-habit-section {
  width: 80%;
  margin: 50px auto;
}

.change-your-habit-container {
  gap: 50px;
}
.change-your-habit-content {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  gap: 10px;
}

.change-your-habit-img img {
  border-radius: 50%;
}

.change-your-habit-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 20px;
  text-align: center;
}

/* .change-your-habit-img h4 {
  
  padding: 10px;
  padding-bottom: 10px;
}

.change-your-habit-img p {
  
  padding: 5px;
  padding-bottom: 10px;
} */

.habits h4 {
  padding-top: 15px;
}
.habits p {
  padding: 5px 0;
}

/* Run an Extra Mile Section Start Here */

.extra-mile-section {
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.144);
  border-radius: 15px;
}

.extra-mile-section img {
  width: 100%;
  border-radius: 10px;
  /* padding-top: 150px; */
  /* clip-path: inset(20px 100px 180px 250px round 20px); */
  width: 366px;
  height: 312px;
}

.extra-mile-div {
  display: flex;
  align-items: center;
  padding: 20px 50px;
}

.extra-mile-contect {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.extra-mile-contect h1 {
  font-size: 2.8rem;
  font-family: "Inter", sans-serif;
  width: 60%;
}

.extra-mile-contect p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  width: 80%;
  line-height: 25px;
}

.extra-mile-contect button {
  width: 200px;
  margin-top: 30px;
  margin-left: 10px;
  justify-content: center;
  color: white;
}

/* Run an Extra Mile Section Ends Here */
